# System Files
[Tt]humbs.db
*.DS_Store
/.idea
.directory

# Project directories
/assets
/vendor
/plugin
/html/theme-*
/_notes
/data
/data_*
/docs/api

# Project Files
/src/config/config.php
/.htaccess
/*.bak

