/* CALENDAR */
/* line 4, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.main-box .fc {
  margin-top: 15px; }

/* line 7, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.external-event {
  color: #FFFFFF;
  cursor: pointer;
  font-size: 0.85em;
  margin: 5px 0;
  padding: 3px 8px; }

/* line 14, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
#external-events p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666; }

/* line 19, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
#external-events p input {
  margin: 0;
  vertical-align: middle; }

/* line 24, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.fc button {
  padding: 6px 14px;
  height: auto;
  outline: none; }

/* line 29, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.fc th {
  border: 0;
  background: none;
  color: #616060;
  font-size: 0.7em;
  font-weight: 300;
  line-height: 32px; }

/* line 37, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.fc td {
  border-color: #e7ebee; }
  /* line 40, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
  .fc td.fc-widget-header {
    border: 0; }
  @media (max-width: 1199px) {
    /* line 37, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
    .fc td {
      font-size: 1em; } }
  @media (max-width: 991px) {
    /* line 37, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
    .fc td {
      font-size: 0.875em; } }

/* line 51, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.fc h2 {
  line-height: 30px; }
  @media (max-width: 1199px) {
    /* line 51, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
    .fc h2 {
      font-size: 1em;
      line-height: 35px; } }
  @media (max-width: 991px) {
    /* line 51, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
    .fc h2 {
      font-size: 0.875em;
      line-height: 35px; } }

/* line 64, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.fc .fc-basic-view td.fc-week-number span,
.fc .fc-basic-view td.fc-day-number {
  font-size: 0.875em;
  font-weight: bold;
  padding: 6px 5px 0 0; }

/* line 70, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.fc.fc-unthemed .fc-today {
  background: #eee; }

/* line 73, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.fc .fc-event {
  color: #fff !important; }
  /* line 76, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
  .fc .fc-event:hover {
    color: #fff !important; }
  /* line 79, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
  .fc .fc-event .fc-content {
    margin-top: 0; }

@media (max-width: 767px) {
  /* line 85, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
  .fc .fc-toolbar .fc-right {
    float: left;
    margin-top: 13px;
    clear: both; } }

/* line 94, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.fc-state-default.fc-corner-right {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

/* line 98, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.fc-state-default.fc-corner-left {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

/* line 102, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.fc-content {
  margin-top: 10px; }

/* line 105, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.fc-header-title h2 {
  background: none;
  border-left: 0;
  margin-top: 8px;
  padding: 0; }

/* line 111, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.fc-state-default {
  background: #fff;
  border: 1px solid #e1e1e1;
  box-shadow: none;
  color: #3498db;
  padding: 4px 14px;
  height: auto; }

/* line 119, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.fc-state-default:hover {
  background-color: #eee; }

/* line 122, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.fc-state-highlight {
  background-color: #eee; }

/* line 125, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.fc-grid .fc-day-number {
  font-size: 0.875em;
  font-weight: bold;
  padding: 6px 5px 0 0; }

/* line 130, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.fc-grid .fc-state-highlight .fc-day-number {
  color: #3498db; }

/* line 133, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.fc-widget-header {
  background: none;
  border-left: medium none;
  border-right: medium none;
  border-top: medium none;
  border-color: #e7ebee;
  color: #616060;
  font-size: 1.225em;
  font-weight: 300;
  line-height: 32px; }

/* line 144, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.fc-widget-content {
  border-color: #e7ebee; }

/* line 147, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end {
  border-radius: 2px; }

/* line 151, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.fc-event-vert.fc-event-end,
.fc-event-vert.fc-event-start {
  border-radius: 0; }

/* line 155, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.fc-event {
  background: #3498db;
  border: 0 none;
  border-radius: 3px;
  font-size: 0.75em;
  padding: 1px; }

/* line 163, Applications/MAMP/htdocs/cube/source/scss/theme/calendar.scss */
.rtl .fc-basic-view td.fc-week-number span,
.rtl .fc-basic-view td.fc-day-number {
  padding: 6px 0 0 5px; }

/*# sourceMappingURL=calendar.css.map */