/*
 *
 */




#content-wrapper {
	min-height: 1000px;
}


body.no-side-nav {
  #content-wrapper {
    margin-left:0;
  }
}




.tk-login-panel {
  div.input-group-prepend .input-group-text, div.input-group-append .input-group-text {
    background: transparent;
    border-color: #e7ebee;
    border-width: 2px;
    border-right-width: 0;
  }
  .tk-recover-url, .tk-login-url, .tk-unstitutions-url {
    float: right;
    display: inline-block;
    margin: 15px 0px 0px 0px;
  }
  .tk-unstitutions-url {
    float: left;

  }



}
#login-logo {
  font-family: 'Patua One', cursive;

  //background: none repeat scroll 0 0 #34495e;
  //color: #fff;
  //display: block;
  font-size: 1.8em;
  //font-weight: 400;
  //padding: 35px 0;
  //text-align: center;
  //text-transform: uppercase;

  /* line 76, Applications/MAMP/htdocs/cube/source/scss/theme/imports/_login_stuff.scss */
  &> img {
    height: 40px;
    margin: 0 auto;
  }
  &> .fa {
    display: block;
  }

  /* line 81, Applications/MAMP/htdocs/cube/source/scss/theme/imports/_login_stuff.scss */
  &> span {
    display: block;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.fixed-header #header-navbar {
  max-height: 50px;
}


.tk-admin-nav {
  position: absolute;
  bottom: 5px;
  right: 10px;
  a, a:link {
    color: $primary-color;
  }
}


// Content

.CodeMirror {
  border: 2px solid #EFEFEF;
}


/* Font awesome actions */
.faa-add {
  position: relative;
  &:after {
    display: block;
    position: absolute;
    content: "\f055";
    font-size: 70%;
    margin-top: -50%;
    margin-left: 50%;
    background-color: white;
    border-radius: 100%;
  }
}
.faa-del,
.faa-remove {
  position: relative;
  &:after {
    display: block;
    position: absolute;
    content: "\f056";
    font-size: 70%;
    margin-top: -50%;
    margin-left: 50%;
    background-color: white;
    border-radius: 100%;
  }
}



// Top Nav


// Side nav

#sidebar-nav ul.nav.navbar-nav {
  margin-bottom: 70px;
}
#sidebar-nav .nav li .submenu {
  padding: 0 0 5px 0;
  > li > a {
    padding-left: 35px;
  }
}

.nav-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 10px;
  background: $primary-color;
}




// Panel conversion to main-box

.panel {
  @extend .main-box;
  .panel-heading {
    @extend .main-box-header;
    //@extend .clearfix;
    .panel-title {
      //@extend .float-left;
    }
  }
  .panel-body {
    @extend .main-box-body;
  }
  .panel-footer {
    //@extend .main-box-footer;
  }

}




// Other


// Table
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(235, 235, 235, 0.3);
}
.table-hover tbody tr:hover {
  background-color: rgba(235, 235, 235, 0.25);
}


// Form

.input-group-prepend,
.input-group-append  {
  .input-group-text {
    border-width: 1px;
  }
  .btn {
    border-width: 0 !important;
  }
}


form.tk-form {
  
  .nav-tabs {
    > li.nav-item.has-error {
      > a.active,
      > a.active:hover,
      > a.active:focus {
        border-top: 2px solid $red-color-dark;
      }
    }
  }

  .tk-check-select {
    .status-notes {
      margin-top: -2px;
      z-index: 999;
    }
  }
  .form-control::placeholder {
    color: $gray-color-light;
  }
  .input-group-prepend.input-group-append {
    margin-right: -2px;
    margin-left: 0;
  }
  .input-group-text {
    background: #e7ebee;
  }
  .form-group label {
    text-align: left;
  }

}




// Buttons
#content-wrapper {
  .btn-default {
    color: $text-color !important;
    background-color: #f8f9fa;
    border-color: #e0e1e2;
  }

  .btn-default:hover,
  .btn-default:focus,
  .btn-default:active {
    color: $text-color !important;
    background-color: #e0e1e2;
  }
}

// ActionPanel
.tk-ui-action-panel {
  .btn {
    margin-right: 10px;
  }
}