
/******************************************/
/** Public Styles                        **/
/******************************************/


body.public {
  padding-top: 40px;
  padding-bottom: 30px;
  background: #FFF;
}

.public .container.content {
  margin-top: 20px;
}

.public .theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}


.public .footer {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid #CCC;
}





/******************************************/
/** General Styles                       **/
/******************************************/


.nopadding {
  padding: 0;
}


/*************************************/
/**  \Tk\Table\Renderer\Dom\Table   **/

.tk-table th {
  white-space: nowrap;
}
.tk-table .key {
  width: 100%;
}
.tk-table td {
  white-space: nowrap;
}

.tk-table .orderAsc a:after {
  content: "\e151";
  font-size: 0.8em;
  font-weight: normal;
  padding: 0 0 0 5px;
  vertical-align: middle;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tk-table .orderDesc a:after {
  content: "\e152";
  font-size: 0.8em;
  font-weight: normal;
  padding: 0 0 0 5px;
  vertical-align: middle;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tk-table .tk-actions {
  margin: 5px 0px;
}
.tk-table .btn {
  margin-right: 5px;
}

.tk-table .pagination {
  margin: 0;
}




/*********************************/
/** \Tk\Form\Renderer\Dom\Form  **/

.tk-form .tk-form-events .btn {
  margin-right: 5px;
}
.tk-form .form-group .checkbox,
.tk-form .form-group.tk-checkbox .controls {
  display: inline-block;
  margin-left: 10px;
}

.tk-form.form-inline .tk-form-fields,
.tk-form.form-inline .tk-form-events {
  display: inline-block;
}

.tk-form.form-inline .tk-form-fields .form-group {
  margin-right: 5px;
}

.tk-form .tab-pane {
  padding-top: 10px;
  padding-bottom: 10px;
}
.tk-form textarea.form-control {
  min-height: 120px;
}

.tk-form .required label:before {
  content:"* ";
  color: #e70000;
  font-weight: bold;
}
.tk-form select[multiple] {
  min-height: 150px;
}

#contactForm div.text-danger {
  margin: 5px 0 5px 27.5%;
}