


.container {
  width: 70%;
  margin: 40px auto;
}

div.modal {
  display: none;
}

.tk-alert-container {
  position: absolute;
  top: 100px;
  right: 10px;
  z-index: 9999;

  button.close {
    display: none;
  }

}

fieldset {
  legend {
    margin-top: 15px;
    font-weight: 600 !important;
  }
}

form {
  .alert {
    button {
      display: none;
    }
    &.alert-danger {
      color: #e70000;
    }
  }
}
.invalid-feedback {
  color: #e70000;
}
#institution-list_form .tk-foot {
  display: none;
}

